<div class="text-field">
  <%= form.label :title %>
  <%= form.text_field :title, class: "Form__input" %>
</div>

<div class="text-field">
  <%= form.label :impact_factor %>
  <%= form.number_field :impact_factor, class: "Form__input" %>
</div>

<div class="Form__group">
  <p class="Form__groupName">Methodologies</p>
  <div class="Form__collection">
    <%= form.collection_check_boxes :methodology_ids, Methodology.all, :id, :name do |box| %>
      <%= box.label do %>
        <%= box.check_box %>
        <%= box.text %>
      <% end %>
    <% end %>
  </div>
</div>
