<div class='Table__body' id="journalsListing">
  <% journals.each do |journal| %>
    <div class='Table__row'>
      <%= turbo_frame_tag "journal_#{journal.id}" do %>
        <span><%= link_to journal.title, journal_path(journal.id), data: { "turbo-frame" => "_top" } %></span>
        <span><%= journal.impact_factor %></span>
        <% if current_academic.admin_role? || current_academic.approver_role? %>
          <%= form_with model: journal, data: { controller: "form" } do |form| %>
            <%= form.check_box :approval, checked: journal.approved?, data: { action: "click->form#submit" } %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
