<div class="Content__container">
  <div class="Content__flexContainer">
    <% if signed_in? %>
      <%= link_to new_journal_path, class: "JournalActions__item" do %>
        <i class="fas fa-plus-square Actions__add"></i> Create Journal
      <% end %>

      <%= link_to new_journal_path, class: "JournalActions__item" do %>
        <i class="fas fa-plus-square Actions__add"></i> Create Publication
      <% end %>

      <% if current_academic.admin_role? %>
        <%= link_to new_methodology_path, class: "JournalActions__item" do %>
          <i class="fas fa-plus-square Actions__add"></i> Create Methodology
        <% end %>
      <% end %>
    <% end %>

    <%= form_with url: search_journals_path, class: "SearchForm Content__item--push", data: { controller: "search" } do |form| %>
      <%= form.text_field 'search_term', placeholder: 'Enter search terms...', class: 'SearchForm__input' %>
      <%= form.submit 'Search', class: 'SearchForm__submit', data: { disable_with: false, action: "click->search#addQueryString" } %>

      <% if params.dig(:journal, :search) %>
        <%= link_to journals_path do %>
          <i class="fas fa-minus-circle"></i>
          Reset search
        <% end %>
      <% end %>
    <% end %>
  </div>

  <table class='JournalTable Content__innerContainer Content__innerContainer--no-padding'>
    <thead>
      <tr>
        <th>Title</th>
        <th>Impact Factor</th>
        <% if current_academic.admin_role? || current_academic.approver_role? %>
          <th>Approve</th>
        <% end %>
      </tr>
    </thead>

    <%= render partial: "journals/listing", locals: { journals: @journals } %>
  </table>
</div>
