<div class="Content__container Actions">
  <% if current_academic.admin_role? || current_academic.approver_role? %>
    <%= link_to new_journal_path do %>
      <i class="fas fa-plus-square Actions__add"></i>
    <% end %>
  <% end %>

  <%= form_with class: "SearchForm", model: Journal, method: :get do |form| %>
    <%= form.text_field 'search', placeholder: 'Enter search term...', class: 'SearchForm__input' %>
    <%= form.submit 'Search', class: 'SearchForm__submit' %>
  <% end %>
</div>

<div class="Content__container">
  <table class='JournalTable Content__innerContainer Content__innerContainer--no-padding'>
    <thead>
      <tr>
        <th>Title</th>
        <th>Impact Factor</th>
        <% if current_academic.admin_role? %>
          <th>Approve</th>
        <% end %>
      </tr>
    </thead>

    <% @journals.each do |journal| %>
      <tr>
        <td><%= journal.title %></td>
        <td><%= journal.impact_factor %></td>
        <% if current_academic.admin_role? %>
          <td>
            <%= check_box_tag dom_id(journal, :checkbox), '', journal.approved?, data: { url: toggle_approval_journal_path(journal), remote: true, method: :patch } %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
</div>
