<!DOCTYPE html>
<html>
  <head>
    <title>PublishOrPerishReboot</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- TODO: Basic authentication from Clearance -->
    <div class="Navbar">
      <%= link_to "POP", root_path, class: "Navbar-home" %>
      <nav role="navigation" class="Navbar-navigation">
        <ul>
          <% if signed_in? %>
            <li>Signed in as: <%= current_user.email %>
              <ul class="Navbar-dropdown">
                <li><%= link_to "Journal Listing", journals_path %></li>
                <li><%= link_to I18n.t("navigation.journals_awaiting_approval", total: journals_awaiting_approval), approvals_path %></li>

                <li><%= link_to 'Sign out', sign_out_path, method: :delete %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to 'Sign in', sign_in_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>

    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>

    <div class="Content">
      <%= yield %>
      <div class="Content-target">
      </div>
    </div>
  </body>
</html>
