<!DOCTYPE html>
<html>
  <head>
    <title>PublishOrPerishReboot</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- TODO: Basic authentication from Clearnance -->
    <nav>
      <% if signed_in? %>
        <span><%= link_to "Journal Listing", journals_path %></span>
        <span>Signed in as: <%= current_user.email %></span>
        <%= button_to 'Sign out', sign_out_path, method: :delete %>
      <% else %>
        <%= link_to 'Sign in', sign_in_path %>
      <% end %>
    </nav>

    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>

    <div class="Content">
      <%= yield %>
      <div class="Content-target">
      </div>
    </div>
  </body>
</html>
